<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <img alt="蜗牛冒险" class="img-responsive text-center" src="http://p1.bqimg.com/567571/a7bc4ebe4dffa1ac.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        重温儿时经典，17 加油！
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/subjects" target="_self">了解更多</a>
      </p>
    </div>
  </div>
  <div class="text-center">
    <h2>蜗牛冒险岛 「17启航版」公告</h2>
    <br>
    <p>新区老区同步开放 :-)</p>
    <p>新区 17启航版.</p>
    <ul>
      <li>
        用
        <em>17wnmxd.exe</em> 登录器。
      </li>
      <li>
        需重新注册账号，需认证
        <em>手机号</em>。
      </li>
      <li>
        不删档内测。
      </li>
      <li>
        版本持续更新。
      </li>
      <li>
        祝玩得开心……
      </li>
    </ul>
    <br>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>开放时间</h2>
      <p>2017.1.14日20时</p>
    </div>
    <div class="col-md-3">
      <h2>开放地图</h2>
      <p>v001版仅开放金银岛，不开放军营、自由市场。</p>
    </div>
    <div class="col-md-3">
      <h2>17有你</h2>
      <p>一切无敌加速飞天吸怪等开挂及按键辅助等作弊行为，一经发现，一律封号。</p>
    </div>
    <div class="col-md-3">
      <h2>版本更新</h2>
      <p>1月26日已开放自由市场。</p>
    </div>
  </div>
  <div class="well">
    <h2>游戏下载</h2>
    <p>
      卡hs、白屏、无法启动……多数问题都有解决方案，如仍无法解决，请在Q群提出。
      <ul>
        <li><a target="_blank" href="https://pan.baidu.com/s/1sjLyoCP#list/path=%2F%E7%99%BB%E5%BD%95%E5%99%A8">网盘下载</a>
        </li>下面为必下文件
        <li>maplestory v079 纯净客户端（安装文件）</li>
        <li>17wnmxd.exe 17启航版登录器</li>
        <li>卡hs替换文件</li>
      </ul>
    </p>
  </div>
  <small><i class="text-muted fa fa-copyright"></i>2014-2017</small>
  <br>蜗牛冒险.
</section>
