<section class="inner">
	<div class="page-container">
		<div class="page_navbar">			
			<div class="page-navbar-warp">
				<div class="title">
					<h3>
						<a href="/#!/forums">
							<i class="fa fa-comments-o"></i>&nbsp;玩家论坛
						</a>
					</h3>
				</div>
				<div class="main">
					<div class="toolbar_panel pull-right">
						<a class="btn btn-danger" href="/subjects/create" target="_self">我要发贴</a>
					</div>
				</div>				
			</div>
		</div>
		<div class="forum-panel">
			<div class="forum-container">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="mb_10 banner_img">
						<div class="forum_top_banner_text">
							<span class="top_banner_text"><i class="fa fa-bullhorn"></i></span></div>
					</div>
					<div class="forum-content">
						<div class="forum-category-warpper">
							<div class="forum-heading">
								<h3>所有贴子</h3>
							</div>
							<div ng-include="'modules/subjects/client/views/list-subjects.client.view.html'"></div>
						</div>
					</div>
					<!--  -->
					<!--  -->
				</div>
				<div class="col-md-4 col-xs-12 hidden-sm hidden-xs sidebar">
					<div ng-include="'modules/forums/client/views/right-widget.client.view.html'"></div>
				</div>
			</div>
			<!--  -->
			<div class="" style="margin-top:15px;">
				<div class="col-md-8 col-xs-12">			
					<div class="panel panel-default" data-ng-repeat="forum in forums">
						<div class="panel-heading">
							<a href="/#!/forums/{{forum._id}}"><span class="h3" data-ng-bind="forum.name"></span><span class="pull-right" data-ng-bind="forum.content"></span></a>
						</div>
						<div class="panel-body" style="padding-top:0px;padding-bottom:0px;">
							<div class="row" ng-include="'modules/subjects/views/list-forum-subjects.client.view.html'"></div>
						</div>
						<div class="panel-footer">
							<div class="text-right">
								<p><span class="text-muted" style="font-size:10px;">关注度</span><span class="badge" data-ng-bind="forum.pv"></span>&nbsp;<span class="text-muted" style="font-size:10px;">贴子数量</span><span class="badge" data-ng-bind="forum.subject.length"></span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<!-- <div data-ng-include="'/modules/subjects/views/my-subject-count.client.view.html'"></div> -->
					<div>
						<div class="panel panel-default">
							<div class="panel-heading text-right"><span class="glyphicon glyphicon-tasks"></span>&nbsp;论坛栏目</div>
							<div class="panel-body row" style="padding-top:0px;padding-bottom:0px;">
								<table class="table table-hover" >
								    <tbody data-ng-repeat="forum in forums">
								        <tr>
								            <td>
								                <div style="margin:5px;">
								                    <a data-ng-href="#!/forums/{{forum._id}}">
								                        <span class="h4" data-ng-bind="forum.name"></span>
								                    </a>
								                </div>
								            </td>
								        </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
</section>
