<section ng-controller="CommentsListController">
<div ng-include="'../modules/subjects/client/views/create-subject-comment.client.view.html'"> 
  <div class="user-comment-container">
    <i class="triangle-up"></i>
    <div class="user-comment-list" ng-repeat="comment in vm.comments | filter: this.subject">
      <div class="user-item-comment" data-id="{{ comment._id }}">
        <a class="user-item-pic" href="" title="{{ comment.user.nickName }}">
            <img alt="{{ comment.user.nickName }}" ng-src="{{ comment.user.profileImageURL}}">
        </a>
        <div class="user-comment-content-wrap">
          <div class="user-comment-hd">
            <a class="component-user" href="">
              <span class="cm-user-name" ng-bind="comment.user.nickName"></span>
            </a>
          </div>
        <div class="user-comment-content"><br><span ng-bind="comment.content"></span></div>
          <div class="user-comment-ft">
              <span class="p-time" ng-bind="comment.updated | date:'medium'"></span>
              
              <div class="fr">
                  <a href="javascript:void(0)" class="op-vote need-login iconfont icon-thumb-up" title="点赞"><em></em><span>0</span></a>
                  <a href="javascript:void(0)" class="component-comment-reply  op-reply need-login" title="回复"><em></em><span>回复</span></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
